<div class="headRow">
    <div class="head">
        <h4><a class="logoBtn" href="/">Shopo</a></h4>
    </div>
    <div class="userControls">
        <span class="userName">
            <%= currentUser %>
        </span>
        <% if(currentUser !== "") { %> 
        <form action="/logout" method="GET">
            <input type="submit" class="actionBtn" id=<%= definedControl %> value=<%= definedControl %> >
        </form>
        <% } else { %>
            <form action="/user/login" method="GET">
                <input type="submit" class="actionBtn" id=<%= definedControl %> value=<%= definedControl %> >
            </form>
        <% } %>
    </div>
</div>