<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="../../css/cartAndOrder.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
</head>
<body>
    <%- include('partials/header',{ currentUser : activeUser, definedControl : definedControl, }) %>
    <div class="container flex">
        <div class="userHead flex">
            <div class="greetingText">
                Hello <span class="username"><%= activeUser %></span>
            </div>


        </div>
        <div class="cartContent flex">
            <% if(!cartItems.length) { %>
                <span class="cartEmptyText">
                    Seems like you haven't purchased something yet...
                    <a href="/">Shop Now...</a>
                </span>
            <% } %>
            <% cartItems.forEach(elem =>{ %>
                <div class="listDiv flex">
                    <div class="listContent flex orders">
                        <div class="img">
                            <img src="<%= elem.product_img %>" class="productLogo" />
                        </div>
                        <div class="details">
                            <div class="productInfo">
                                <h3><%= elem.product_title %></h3>
                                <h4><%= elem.product_brand %></h4>
                                <h6>$ <%= elem.base_price %></h6>
                            </div>
                            <div class="purchaseInfo">
                               <h4>Quantity : <span> <%=elem.quantity %> </span></h4>
                               <h4>Sub-Total : $ <%= elem.base_price*elem.quantity %></h4>
                            </div>
                        </div>
                    </div>
                    <div class="action fit-content">
                        <div class="orderDate">
                            <% let date = new Date(elem.orderDate).toLocaleString() %>
                            <h5>Order Date : </h5>
                            <span class="orderDate"><%= date %></span>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>